<!-- app/views/admin/loans/adjust.html.erb -->
<h1>Adjust Loan</h1>

<%= form_with model: @loan, url: admin_loan_path(@loan), method: :patch do |form| %>
  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount, value: @loan.amount, step: 0.01 %>
  </div>
  
  <div>
    <%= form.label :interest_rate %>
    <%= form.number_field :interest_rate, value: @loan.interest_rate, step: 0.01 %>
  </div>

  <div>
    <%= form.submit 'Adjust Loan' %>
  </div>
<% end %>
